@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    position: absolute;
    top: 22px;
    left: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 70px;
}

.logo a{
    font-size: 44px;
    font-weight: bold;
    text-decoration: none;
    color: #464646;
}

.container{
    width: 440px;
    padding: 40px 32px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container h1{
    font-size: 1.6rem;
    margin-bottom: 30px;
    text-align: center;
}

.container form label{
    color: #1d1d1d;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: block;
    margin-top: 12px;
}

.container form .custome-input{
    position: relative;
    margin-bottom: 20px; /* Add spacing between inputs */
}

.container form .custome-input input{
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 46px;
    letter-spacing: 0.03rem;
    border: 1px solid #1d1d1d;
    background: transparent;
    outline: none;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 6px;
    transition: all 0.3s ease;
}

.container form .custome-input input:focus{
    border-color: #5222fd;
}

.container form .custome-input i{
    position: absolute;
    font-size: 28px;
    right: 10px;
    top: 60%; 
    transform: translateY(-50%); 
    transition: all 0.3s ease;
    margin-top: 3px; 
}

.container form .custome-input input:focus + i{
    color: #5222fd;
}

.container form .login{
    width: 100%;
    margin-top: 30px;
    background: #6b43ff;
    color: #fff;
    border: none;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 0.025em;
    cursor: pointer;
    font-weight: 800;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.container form .login:hover{
    background: #5222fd;
}

.message {
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    display: none;
    text-align: center;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.message.info {
    background-color: #cce5ff;
    color: #004085;
    border: 1px solid #b8daff;
}